@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --overlay-gradient: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5));
  --overlay-gradient-dark: linear-gradient(
    rgba(2, 15, 8, 0.75),
    rgba(2, 15, 8, 0.75)
  );
  --overlay-gradient-darkest: linear-gradient(
    rgba(2, 15, 8, 0.85),
    rgba(2, 15, 8, 0.85)
  );
  --color-background-primary: rgba(1, 10, 5, 0.9);
  --color-background-input: rgba(255, 255, 255, 0.05);

  --extra-gradient-medium: linear-gradient(
    to bottom,
    rgba(0, 24, 38, 0.75) 0%,
    rgba(0, 37, 49, 0) 35%,
    rgba(0, 37, 49, 0) 65%,
    rgba(0, 24, 38, 0.75) 100%
  );

  --extra-gradient-medium-top: linear-gradient(
    to bottom,
    rgba(0, 24, 38, 0.75) 0%,
    rgba(0, 37, 49, 0) 40%,
    rgba(0, 37, 49, 0) 100%
  );
}

* {
  scroll-behavior: smooth;
}

.transition_prop {
  @apply transition duration-300 ease-linear;
}

.app {
  @apply font-inter bg-overlay-burger text-white;
  /* bg color is temporary */
}
